html {
    scroll-behavior: smooth;
}

body {
    margin: 0px auto;
    max-width: 1120px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    background-color: rgb(123, 135, 136);
    color: white;
}


/*Navegation Bar*/
header {
    margin: 20px;
    font-family: 'Lexend Mega', sans-serif;
}


nav {
    text-align: right;
    padding-bottom: 16px;
}


/*Headers*/
h1 {
    font-size: 46px;
    font-weight:100;
    letter-spacing: 0.5em;
}

h2 {
    display: unset;
    font-size: 20px;
}

h2 a:link, a:visited, a:active{
    text-decoration: none;
    color: white;
}

h2 a:hover {
    color: rgb(52,42,40);
    
}

h3 {
    font-family: 'Lexend Mega', sans-serif;
    font-size: 19px;
    font-weight: lighter;
}

a {
    text-decoration: none;   
}


/*Blog and Side Bar*/
main {
    background-color: rgb(52, 42, 40);
}

td {
    padding: 20px;
    padding-top: 0px;
    vertical-align: top;
}

article {
    padding-bottom: 20px;
}

img {
    display: block;
    width: 100%;
    margin: auto;
    margin-top: 20px;
}

p {
    margin-top: 30px;
}
#blog {
    width: 860px;
}

time {
    font-size: 15px;
    font-weight: lighter;
    padding: 0px;
    display: block;
    text-align: right;
}

/*Side Bar*/
#side-bar {
    width: 260px;
}


/*Footer*/
footer {
    padding: 30px;
    font-family: 'Lexend Mega', sans-serif;
    text-align: center;
    font-size: 14px;
    font-weight: lighter;
}

